/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import "./helpers/variables.scss";
@import "./layout/ribbon.scss";
@import "./pages/login.scss";



html,
body{
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    line-height: $line-height;
    color: $oslo-gray;
    text-rendering: optimizeLegibility;
}