@font-face {
    font-family: "Manuale";
    src: url("../fonts/Manuale/Manuale-Regular.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-Medium.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-Italic.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-MediumItalic.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-Bold.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-BoldItalic.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-SemiBold.ttf") format("opentype"),
      url("../fonts/Manuale/Manuale-SemiBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  